@use "../../index.scss" as *;

.contact_ctn {
  margin: 20px auto;
  padding: 20px;
  flex-direction: column;
  max-width: 800px;
}

.MuiInputBase-root {
  width: 500px !important;
}

.input_contact .MuiInputBase-input,
.input_contact .MuiInputLabel-root,
.input_contact .MuiSelect-icon {
  color: $wht;
}

.input_contact .MuiOutlinedInput-notchedOutline {
  border-color: $prm;
}

.input_contact .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: $prm !important;
  border-width: 2px;
}

.input_contact
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: $prm !important;
}

.input_error .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
  border-width: 2px;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: $prm !important;
}

#input_message {
  height: 200px !important;
}

.MuiFormHelperText-root {
  color: red !important;
  margin-bottom: 10px !important;
}

@media (max-width: $mobile-size) {
  .MuiInputBase-root {
    width: 300px !important;
  }
}
