/*Couleurs*/
$prm: rgba(200, 90, 0, 1);
$blk: #242424;
$wht: #ffffff;

/*Taille écran*/
$mobile-size: 800px;

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $wht;
  background-color: $blk;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

p,
h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 3em;
  font-family: Atkinson Hyperlegible Mono;
  font-weight: 300;
  color: $wht;
  text-shadow: 2px 2px 2px $prm;
}

h3 {
  font-size: 1.7em;
  font-family: Atkinson Hyperlegible Mono;
  font-weight: 300;
}

.elm_ct {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  align-items: center;
  background-color: $blk;
  border: 1px solid $prm;
  border-radius: 10px;
  color: $wht;
  cursor: pointer;
  font-size: 1.5em;
  font-family: Roboto;
  height: 30px;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  width: 200px;
  text-decoration: none;
  box-sizing: content-box;
}

.btn:hover {
  background-color: $prm;
}
